

<div>
    <img src="~/Content/Login1/images/EmailCof.jpg" alt="" style="width: 300px; max-width: 600px; height: auto; margin: auto; display: block;   />
    <p style="font-size: 900px;">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
