
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .team-modern-figure img {
        width: 100%;
        height: 400px;
        transition: all .3s ease;
        will-change: transform;
    }
</style>
<link href="~/Content/css/Style2.css" rel="stylesheet" />
<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">About us</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" ></div>
    </div>
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Home/Index">Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ul>
    </div>
</section>
<section class="section section-lg bg-default">
    <div class="container">
        <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
            <div class="col-lg-4 col-xl-3">
                <h5 class="text-spacing-200 text-capitalize">10+ years of experience</h5>
                <ul class="nav list-category list-category-down-md-inline-block">
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a class="active" href="#tabs-4-1" data-toggle="tab">About us</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s"><a href="#tabs-4-2" data-toggle="tab">Our Mission</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s"><a href="#tabs-4-3" data-toggle="tab">Our Goals</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s"><a href="#tabs-4-4" data-toggle="tab">Our Values</a></li>
                </ul><a class="button button-xl button-primary button-winona" href="contacts.html">Contact us</a>
            </div>
            <div class="col-lg-8 col-xl-9">
                <!-- Tab panes-->
                <div class="tab-content tab-content-1">
                    <div class="tab-pane fade show active" id="tabs-4-1">
                        <h4>HUTECH DRIVER</h4>
                        <p>HUTECH DRIVER nơi mà mọi người có thể để ghép xe và có thể trò chuyện cao đổi với nhau.</p>
                        <p>HUTECH DRIVER có thể ở tất cả các Khu học tập của Hutech - Là nơi có nhiều sinh viên có nhu cầu đi lại nhiều nhất, lúc này có để đặt xe tại đây để ghép xe đi học hoặc đi về cùng nhau mà không phải lo về giá cả thị trường, nhanh chóng, tiện lợi. Hutech Driver được tổ chức bo công ty ....với nhà đầu tư lên tới cả tỷ đồng bao quát xung quanh khu trường học của chúng ta. Hutech Driver sẽ trở thành nơi chinh phục phương tiện di chuyển hàng đầu tại trường đại học công nghệ Hutech. </p>
                        <img src="" alt="" />
                        <img src="~/Content/assets/GioiThieu1.jpg" width="835" height="418" />
                    </div>
                    <div class="tab-pane fade" id="tabs-4-2">
                        <h4>Tiện Nghi</h4>
                        <p>Hutech Driver là một dịch vụ đặt xe trực tuyến và giao hàng được cung cấp thông qua ứng dụng di động. Hutech Driver mang đến nhiều tiện ích và sự tiện nghi cho người dùng như sau:</p><br />
                        <p>
                            1. Đặt xe dễ dàng: Người dùng có thể đặt xe thông qua ứng dụng Grab chỉ bằng vài thao tác đơn giản trên điện thoại di động. Không cần phải gọi điện hoặc đến các trạm đặt xe truyền thống.
                        </p>

                        <p>
                            2. Lựa chọn nhiều dịch vụ: Hutech Driver cung cấp nhiều dịch vụ đa dạng để người dùng lựa chọn,  HutechBike (xe máy), HutechFood (đặt đồ ăn) và HutechExpress (giao hàng). Người dùng có thể tùy chọn phương tiện phù hợp với nhu cầu và sở thích của mình.
                        </p>
                        <p>
                            3. Hutech Driver hoạt động suốt trong những thời gian mà sinh viên đi học và ra về, giúp người dùng có thể đặt xe và sử dụng dịch vụ bất kỳ lúc nào cần thiết, đặc biệt là trong các tình huống khẩn cấp hoặc khi cần di chuyển nhanh chóng.
                        </p>
                        <p>
                            4. Đánh giá và đảm bảo chất lượng: Người dùng có thể đánh giá tài xế sau mỗi chuyến đi và đọc nhận xét từ người dùng khác để đánh giá chất lượng dịch vụ. Điều này giúp cải thiện chất lượng và an ninh của hệ thống Hutech Driver.
                        </p>
                        <p>
                            5. Dịch vụ khách hàng: Hutech Driver có một đội ngũ hỗ trợ khách hàng 24/7, sẵn sàng giải quyết mọi vấn đề và trả lời các câu hỏi từ người dùng. Người dùng có thể liên hệ qua điện thoại hoặc qua ứng dụng để được hỗ trợ.
                        </p>
                      
                    </div>
                    <div class="tab-pane fade" id="tabs-4-3">
                        <h4>GIÁ THÀNH RẺ HƠN</h4>
                        <p>Hutech Driver cung cấp nhiều lựa chọn dịch vụ với mức giá khác nhau để phù hợp với ngân sách và nhu cầu của người dùng. Dưới đây là một số yếu tố có thể giúp người dùng tiết kiệm chi phí khi sử dụng Hutech Driver:</p>
                        <p>
                            1. Cạnh tranh giá: Hutech Driver thường có nhiều tài xế hoạt động trong khu vực, tạo ra sự cạnh tranh giữa các tài xế và giúp kiểm soát giá cả. Điều này có thể dẫn đến việc giảm giá hoặc các ưu đãi đặc biệt nhằm thu hút khách hàng.
                        </p>
                        <p>
                            2. Ưu đãi và mã giảm giá: Hutech Driver thường cung cấp các chương trình ưu đãi, khuyến mãi và mã giảm giá cho người dùng. Điều này giúp người dùng tiết kiệm được một phần chi phí khi sử dụng dịch vụ Hutech Driver.
                        </p>
                        <p>
                            3. Xem trước giá: Trước khi xác nhận đặt xe, người dùng có thể xem trước giá ước tính của chuyến đi trên ứng dụng Hutech Driver. Điều này giúp người dùng có cái nhìn rõ ràng về mức giá và quyết định có sử dụng dịch vụ hay không.
                        </p>

                    
                     
                    </div>
                    <div class="tab-pane fade" id="tabs-4-4">
                        <h4>Nhanh chóng</h4>
                        <p>
                            Hutech Driver cung cấp sự tiện lợi và nhanh chóng trong việc đặt xe trực tuyến. Dưới đây là những lợi ích về tốc độ mà Hutech Driver mang lại:
                        </p>
                        <p>
                            1. Đặt xe nhanh chóng: Người dùng có thể đặt xe chỉ trong vài phút thông qua ứng dụng Grab trên điện thoại di động. Quá trình đặt xe đơn giản và nhanh nhẹn, không cần phải gọi điện hoặc tìm kiếm xe truyền thống.
                        </p>
                        <p>
                            2. Tìm kiếm tài xế gần nhất: Ứng dụng Hutech Driver sẽ tự động tìm kiếm và kết nối người dùng với tài xế gần nhất có sẵn trong khu vực. Điều này giúp giảm thời gian chờ đợi và đảm bảo rằng xe sẽ đến nhanh chóng.
                        </p>
                        <p>
                            3. Giảm thời gian di chuyển: Nhờ vào hệ thống định vị GPS và phân luồng thông minh, Grab sẽ tìm kiếm lộ trình tối ưu và hướng dẫn tài xế để di chuyển nhanh nhất. Điều này giúp giảm thời gian di chuyển và đưa người dùng đến điểm đến một cách nhanh chóng.
                        </p>
                        <p>
                            4. Xác định giá cước và thời gian đến: Trước khi xác nhận đặt xe, người dùng có thể xem trước giá cước ước tính và thời gian đến trên ứng dụng Hutech Driver. Điều này giúp người dùng có cái nhìn tổng quan về thời gian cần thiết và quyết định nhanh chóng.
                        </p>
                        <img src="~/Content/assets/anhxe.jpg" width="835" height="418" />
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Icon Classic-->
<section class="section section-lg bg-gray-100">
    <div class="container">
        <div class="row row-md row-50">
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay="0s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-left">
                            <div class="box-icon-classic-icon fa-motorcycle"></div>
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="#">Tiện Lợi</a></h5>
                            <p class="box-icon-classic-text">Bạn phải đi xa nhưng bạn không có xe?. Đến với chúng tôi bạn chỉ cần đặt một chuyến xe và chúng tôi sẽ đến đón bạn đi ^^. </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-left">   
                            <div class="box-icon-classic-icon fa-fast-forward"></div>
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="">Nhanh Chóng </a></h5>
                            <p class="box-icon-classic-text">Chúng tôi cam kết sẽ đưa bạn đến điểm chọn nhanh chóng và an toàn nhất có thể.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".2s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-left"> 
                            <div class="box-icon-classic-icon fa-dollar-sign"></div>
                        </div> 
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="#">Giá Thành Rẻ</a></h5>
                            <p class="box-icon-classic-text">Hutech Driver có những khuyến mãi rất hấp dẫn, và có giá thành rẻ hơn so với cái dịch vụ khác trên thị thường giúp các bạn tiết kiệm được tiền tiêu vạt ^^.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Our Team-->
<section class="section section-lg section-bottom-md-70 bg-default">
    <div class="container">
        
        <h3 class=""><span class="d-inline-block wow slideInUp" data-wow-delay="0s">our team</span></h3>
        <div class="row row-lg row-40 justify-content-center">

            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern">
                    <a class="team-modern-figure" href="#"><img src="~/Content/assets/Tranduyanh.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">Trần Duy Anh</a></h6>
                        <div class="team-modern-status">FRONTEND, BACKEND</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/kenpycuteso1"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern">
                    <a class="team-modern-figure" href="#"><img src="~/Content/Hung.jpg" alt="image"  height="236" /></a>
                    <div class="team-modern-caption">

                        <h6 class="team-modern-name"><a href="#">Phạm Thế Hùng</a></h6>
                        <div class="team-modern-status">FRONTEND, BACKEND</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/phamthehung02/"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern">
                    <a class="team-modern-figure" href="#"><img src="~/Content/assets/khoinguyen.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">Nguyễn Hoàng Khôi</a></h6>
                        <div class="team-modern-status">BACKEND</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/profile.php?id=100042092147816"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-gray-100 text-left section-relative">
    <div class="container">
        <div class="row row-60 justify-content-center justify-content-xxl-between">
            <div class="col-lg-6 col-xxl-5 position-static">
                <h3>Our History</h3>
                <div class="tabs-custom" id="tabs-5">
                    <div class="tab-content tab-content-1">
                        <div class="tab-pane fade" id="tabs-5-1">
                            <h5 class="font-weight-normal text-transform-none text-spacing-75">PizzaHouse Establishment and First Happy Clients</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-5-2">
                            <h5 class="font-weight-normal text-transform-none text-spacing-75">Organizing a Free Pizza Delivery Service in Los Angeles</h5>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-5-3">
                            <h5 class="font-weight-normal text-transform-none text-spacing-75">Offering an Extended Range of Pizzas, Burgers, and Salads</h5>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                        </div>
                        <div class="tab-pane fade show active" id="tabs-5-4">
                            <h2 class="font-weight-normal text-transform-none text-spacing-75">Company Founded By</h2>
                            <p font-site:14>Phạm Thế Hùng,Trần Duy Anh, Nguyễn Hoàng Khôi</p>

                        </div>
                    </div>
                    <div class="list-history-wrap">
                        <ul class="nav list-history">
                            <li class="list-history-item" role="presentation">
                                <a href="#tabs-5-1" data-toggle="tab">
                                    <div class="list-history-circle"></div>2002
                                </a>
                            </li>
                            <li class="list-history-item" role="presentation">
                                <a href="#tabs-5-2" data-toggle="tab">
                                    <div class="list-history-circle"></div>2012
                                </a>
                            </li>
                            <li class="list-history-item" role="presentation">
                                <a href="#tabs-5-3" data-toggle="tab">
                                    <div class="list-history-circle"></div>2015
                                </a>
                            </li>
                            <li class="list-history-item" role="presentation">
                                <a class="active" href="#tabs-5-4" data-toggle="tab">
                                    <div class="list-history-circle"></div>2023
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-6 position-static index-1">
                <div class="bg-image-right-1 bg-image-right-lg">
                  
                    <div class="link-play-modern">
                        <a class="icon mdi mdi-play" data-lightgallery="item" href="https://www.youtube.com/watch?v=8h48Qldp99k"></a>
                        <div class="link-play-modern-title">How we<span>Work</span></div>
                        <div class="link-play-modern-decor"></div>
                    </div>
                    @*<div class="box-transform" style="background-image: url(images/our_history-1110x710.jpg);"></div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-lg bg-default text-md-left">
    <div class="container">
        <div class="row row-60 justify-content-center flex-lg-row-reverse">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="offset-left-xl-70">
                    <h3 class="heading-3">What People Say</h3>
                    <div class="slick-quote">
                        <!-- Slick Carousel-->
                        <div class="slick-slider carousel-parent" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-5" data-for="#child-carousel-5" data-slide-effect="true">
                            <div class="item">
                                <!-- Quote Modern-->
                                <article class="quote-modern">
                                    <h5 class="quote-modern-text"><span class="q">m</span></h5>
                                    <h5 class="quote-modern-author">Stephen Adams,</h5>
                                    <p class="quote-modern-status">Regular Client</p>
                                </article>
                            </div>
                            <div class="item">
                                <!-- Quote Modern-->
                                <article class="quote-modern">
                                    <h5 class="quote-modern-text"><span class="q">Gluten, fluctus, et galatae. Germanus classiss ducunt ad brodium. Pol, a bene cedrium. Tabess unda in neuter avenio! Orexiss sunt adelphiss de rusticus parma.</span></h5>
                                    <h5 class="quote-modern-author">Sam Peterson,</h5>
                                    <p class="quote-modern-status">Regular Client</p>
                                </article>
                            </div>
                            <div class="item">
                                <!-- Quote Modern-->
                                <article class="quote-modern">
                                    <h5 class="quote-modern-text"><span class="q">Pol, silva! Grandis contencios ducunt ad torus. Monss congregabo in nobilis tectum! Velox, fatalis victrixs sapienter talem de emeritis, festus torus.</span></h5>
                                    <h5 class="quote-modern-author">Jane McMillan,</h5>
                                    <p class="quote-modern-status">Regular Client</p>
                                </article>
                            </div>
                            <div class="item">
                                <!-- Quote Modern-->
                                <article class="quote-modern">
                                    <h5 class="quote-modern-text"><span class="q">Fluctuss sunt eras de neuter plasmator. Heuretes noster brabeuta est. Nixus, visus, et mensa. Primus, magnum tatas rare locus de altus, camerarius clabulare.</span></h5>
                                    <h5 class="quote-modern-author">Will Jones,</h5>
                                    <p class="quote-modern-status">Regular Client</p>
                                </article>
                            </div>
                        </div>
                        <div class="slick-slider child-carousel" id="child-carousel-5" data-arrows="true" data-for=".carousel-parent" data-items="4" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-slide-to-scroll="1">
                            <div class="item">
                                <img class="img-circle" src="" alt="" width="83" height="83" />

                            </div>
                            <div class="item">
                                <img class="img-circle" src="~/Content/assets/anh4.jpg" alt="" width="83" height="83" />
                            </div>


                            <div class="item">
                                <img class="img-circle" src="~/Content/assets/anh2.jpg" alt="" width="83" height="83" />
                            </div>

                            <div class="item">
                                <img class="img-circle" src="~/Content/assets/anh3.jpg" alt="" width="83" height="83" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">

                <img src="~/Content/assets/anhxe.jpg"  width="669" height="447" />
            </div>
        </div>
    </div>
</section>

