body {
    margin: 0;
    height: 100%;    
    min-height: 100vh;
  }
  

  
  .side-corners {
    width:15%;
    background-color: #18191a;
  }
  
  .main-box {
    width:70%;
    padding: 10px;
  }
  
  #site-title {
    display:flex; 
    justify-content:center;
  }
  
  #address-box {
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #origin-box {
    display:flex; 
    flex-direction:row;
    width:100%;
  }
  
  .enter-address-headers {
    background-color: gray;
    min-width: 135px;
    color: beige; 
    padding: 2px; 
    margin-right: 5px;
  }
  
  .enter-address-fields {
    width:100%;
  }
  
  #destination-box {
    display:flex;
    flex-direction:row; 
    margin-top: 4px;
  }
  
  #select-travel-box {
    display:flex; 
    flex-direction:row; 
    justify-content: space-between; 
    margin: 30px 0 10px 28%; 
    width: 44%;
  }
  
  #radio-input-box {
    display:flex; 
    flex-direction:row;
  }

#show-route-btn {
    background-color: darkcyan;
    margin-top: 20px;
    border: 0cm;
    font-weight: 780;
    border-radius: 5px;
    cursor: pointer;
}
  
  #show-details-box {
    border: 0.02cm; 
    border-color:grey;
    border-style: solid; 
    border-radius: 2px; 
    width:60%; 
    margin-top: 20px; 
    margin-left: 20%; 
    padding:0;
  }
  
  .details-fields-boxes {
    display:flex; 
    flex-direction:row; 
    justify-content:space-between; 
    border: 0;
  }
  
  .details-fields-header {
    width:20%; 
    background-color:#0091BF;
    color: beige;
  }
  
  #from_place, #to_place, #response_distance, #response_time {
    font-weight: bold;
  }
  
  #no-route {
    margin: 20px 0 20px 0
  }
  
  #no-route-found {
    color: #8B0000; 
    display:flex; 
    justify-content:center;
    font-size: xx-large;
   }
  
   #search-again {
    display:flex; 
    justify-content:center; 
    font-size: larger;
   }
  
  #google-map {
    width:100%;
    height:400px;
    margin-top: 10px;
  }
  
  