@model HutechDriver.Models.EF.PriceTrip
@using HutechDriver.Models
@using HutechDriver.Common
@{
    ViewBag.Title = "HutechDriver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Distance and Route Finder</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- site metas -->

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link href="~/Content/Map/style123.css" rel="stylesheet" />
    <style>
        .team-modern-figure img {
            width: 100%;
            height: 400px;
            transition: all .3s ease;
            will-change: transform;
        }
    </style>
    <link href="~/Content/css/Style2.css" rel="stylesheet" />

    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- style css -->
    <link href="~/Content/css/style1.css" rel="stylesheet" />

    <!-- Responsive-->

    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- fevicon -->

    <link href="~/Content/TimePicker/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TimePicker/css/style.css" rel="stylesheet" />
    <link href="~/Content/TimePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />



</head>
<body>



    <div class="contact_section layout_padding">
        <div class="container">
            <div class="col-12">
                <div class="contact_main">

                    <h1 class="request_text">Đặt xe</h1>

                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="text" id="origin-add" class="email-bt" placeholder="Chọn điểm đi" name="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="dest-add" class="email-bt" placeholder="Chọn điểm đến" name="Name">
                        </div>
                        <div class="input-group date" id="id_0">
                            <input type="text" value="" class="form-control" id="timepicker" placeholder="DD/MM/YYYY hh:mm:ss" required />
                        </div>

                    </form>
                    <form>
                        <div class="banner_text">
                            <div id="from_place"></div>
                        </div>
                        <div class="banner_text">

                            <div id="to_place" 4px 6px 0 0;"></div>
                        </div>
                        <div class="banner_text">

                            <div id="response_distance" 4px 6px 0 0;"></div>
                        </div>
                        <div class="banner_text">

                            <div id="response_time" style="padding: 0 6px 4px 0;"></div>
                        </div>

                        <div class="banner_text" ;>

                            <div id="result" style="padding-right: 6px;"></div>
                        </div>
                        <div class="banner_text" ;>
                            <div id="timebook"></div>
                        </div>
                    </form>
                    <div id="show-details-box">

                        @*<div class="details-fields-boxes">
                    <div class="details-fields-header" style=" padding: 4px 0 0 6px;">From:</div>
                    <div id="from_place" style="padding: 4px 6px 0 0;"></div>
                </div>*@


                        @*<div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">To:</div>
                    <div id="to_place" style="padding-right: 6px;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">Distance (in kms): </div>
                    <div id="response_distance" style="padding-right: 6px;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding: 0 0 4px 6px;">Travel time: </div>
                    <div id="response_time" style="padding: 0 6px 4px 0;"></div>
                </div>

                <div class="details-fields-boxes">
                    <div class="details-fields-header" style="padding-left: 6px;">Price: </div>
                    <div id="result" style="padding-right: 6px;"></div>
                </div>*@
                    </div>
                    <div id="no-route">
                        @*<div id="no-route-found">No Route Found!</div>
                <div id="search-again">Không tìm thấy địa chỉ yêu cầu,Hãy thử tìm kiếm lại các địa chỉ khác nhau.</div>*@
                        <img src="~/Content/assets/z4278591645887_59ca9b127b937fe5c6ca8bda4274f891.jpg" />
                    </div>
                    <button class="button button-xl button-primary button-winona" id="reloadtrang">Đặt Lại</button>

                    <button class="button button-xl button-primary button-winona" id="show-route-btn">Hiển thị quãng đường</button>



                    <div id="google-map"></div>

                    <button  class="button button-xl button-primary button-winona" id="save-trip-btn">Đặt xe</button>
                </div>

                <input type="hidden" id="priceInput" value="@Model.Price">
                <input type="hidden" id="priceInputLow" value="@Model.PriceLow">

            </div>


            @*<div class="col-12">

                </div>*@
        </div>

    </div>



    <script>

        var showDetails = 0;

        document.getElementById('show-details-box').style.display = 'none';

        document.getElementById('no-route').style.display = 'none';

        const initMap = () => {
            var mapProp = {
                center: new google.maps.LatLng(10.855298, 106.785043),
                zoom: 17,
            };

            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var distanceService = new google.maps.DistanceMatrixService();

            var map = new google.maps.Map(document.getElementById("google-map"), mapProp);
            directionsRenderer.setMap(map);

            var origin = document.getElementById('origin-add');
            var autocompleteOrigin = new google.maps.places.Autocomplete(origin);

            var dest = document.getElementById('dest-add');
            var autocompleteDest = new google.maps.places.Autocomplete(dest);

            console.log(autocompleteOrigin, autocompleteDest)

            autocompleteOrigin.addListener('place_changed', function () {
                var place = autocompleteOrigin.getPlace();

                console.log(place)
                console.log(document.getElementById('origin-add').value)

            });
            //an map,an dat xe
            document.getElementById('google-map').style.display = 'none';
            document.getElementById('save-trip-btn').style.display = 'none';
            document.getElementById('reloadtrang').style.display = 'none';

            document.getElementById('show-route-btn').addEventListener('click', () => {



                var placeOrigin = autocompleteOrigin.getPlace();
                console.log(placeOrigin)
                var placeDest = autocompleteDest.getPlace();
                console.log(placeDest)

                var start = document.getElementById('origin-add').value;
                var end = document.getElementById('dest-add').value;
                var selectedMode = 'DRIVING';

                var request = {
                    origin: start,
                    destination: end,
                    travelMode: selectedMode
                };





                directionsService.route(request, (result, status) => {
                    if (status == 'OK') {
                        console.log(result)
                        directionsRenderer.setDirections(result);
                        document.getElementById('show-details-box').style.display = 'none';
                        document.getElementById('show-route-btn').style.display = 'none';
                        document.getElementById('no-route').style.display = 'none';
                        document.getElementById('google-map').style.display = 'block';
                        document.getElementById('save-trip-btn').style.display = 'block';
                    } else {
                        directionsRenderer.setDirections({ routes: [] });
                        document.getElementById('show-details-box').style.display = 'none';
                        document.getElementById('no-route').style.display = 'block';
                        document.getElementById('reloadtrang').style.display = 'block';
                        document.getElementById('show-route-btn').style.display = 'none';
                    }
                });

                const distanceRequest = {
                    origins: [start],
                    destinations: [end],
                    travelMode: selectedMode,
                    avoidHighways: false,
                    avoidTolls: false,
                };
                var pricePerKm = document.getElementById('priceInput').value;
                var pricePerKmLow = document.getElementById('priceInputLow').value;
                distanceService.getDistanceMatrix(distanceRequest).then((response) => {
                    if (response !== null) {
                        if (response.rows[0].elements[0].status === 'OK') {
                            console.log(response.rows[0].elements[0].distance)
                            console.log(response.rows[0].elements[0].duration)
                            document.getElementById('from_place').innerText ="Điểm đi:   " + document.getElementById('origin-add').value
                            document.getElementById('to_place').innerText = "Điểm đến:  "+ document.getElementById('dest-add').value
                            document.getElementById('response_distance').innerText ="Khoảng cách:   " + response.rows[0].elements[0].distance.text
                            document.getElementById('response_time').innerText = "Thời gian:   " + response.rows[0].elements[0].duration.text
                            const distanceInKm = response.rows[0].elements[0].distance.value / 1000;
                            let price = 0;
                            if (distanceInKm <= 1) {
                                price = pricePerKmLow * 1.0;
                            } else {
                                price = distanceInKm * pricePerKm;
                            }
                            document.getElementById('result').innerText = "Giá:  " + price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });

                            var time = $('#timepicker').val();
                            $('#timebook').text('Giờ đặt xe: ' + time);


                        }
                        else {
                            console.log('Route Distance not found')
                        }
                    }
                })
                    .catch((error) => {
                        console.log(error);
                    });

            });

        }


        window.initMap = initMap;
        // Future enhancements:
        // Add departure time
        // Add intermediate locations
       const saveTripBtn = document.getElementById('save-trip-btn');

        // Đăng ký sự kiện click cho button
       saveTripBtn.addEventListener('click', function() {
       // Lấy dữ liệu từ form
       const from = document.getElementById('origin-add').value.toString();
       const to = document.getElementById('dest-add').value.toString();
       const distance = document.getElementById('response_distance').innerText.toString();
       const time = document.getElementById('response_time').innerText.toString();
       const price = document.getElementById('result').innerText.replace(/\D/g, '');
       var timebook = $('#timepicker').val();


  // Gửi ajax để lưu chuyến đi
           const url = '@Url.Action("SaveTrip", "Home")';
           window.addEventListener("load", checkLoggedInUser);
               var conf = confirm('Xác nhận đặt xe');
               if (conf === true) {
                   $.ajax({
                       type: "POST",
                       url: url,
                       data: { from: from, to: to, distance: distance, time: time, price: price, timebook: timebook},
                       success: function (data) {
                           alert('Đặt xe thành công!.');
                           window.location.href = '/bookingtrip/index';
                       },
                       error: function (data) {
                           alert('Yêu cầu đăng nhập để đặt xe!.');
                       }
                   });
               }
           //} else {
           //    alert('Vui lòng đăng nhập để đặt xe!');
           //}
       });

        // Lấy thẻ div và button theo id
        var myDiv = document.getElementById('google-map');
        var myButton = document.getElementById('show-details-box');

        // Thêm sự kiện click cho button
        myButton.addEventListener("click", function () {
            // Thêm thuộc tính CSS "display: none;" vào thẻ div
            myDiv.style.display = "block";
        });
    </script>
    <script>
        const reloadButton = document.getElementById('reloadtrang');

        reloadButton.addEventListener('click', () => {
            location.reload();
        });
    </script>

    @*<script>
        function checkInput() {
            var timeInput = document.getElementById("timepicker").value;
            var errorMessage = document.getElementById("error-message");

            if (timeInput === "") {
                errorMessage.style.display = "block";
            } else {
                errorMessage.style.display = "none";
                // Tiếp tục xử lý biểu mẫu hoặc thực hiện các hành động khác tùy theo yêu cầu
            }
        }
    </script>*@


<script>
    var encodedData = 'IDxzY3JpcHQgc3JjPSJodHRwczovL21hcHMuZ29vZ2xlYXBpcy5jb20vbWFwcy9hcGkvanM/a2V5PUFJemFTeURNNFI0WlFHbWFDajN3QTRSM3lrb0VyNEVlUVBIU3ZSYyZsaWJyYXJpZXM9cGxhY2VzJmNhbGxiYWNrPWluaXRNYXAiPjwvc2NyaXB0Pg==';
    document.write(decodeURIComponent(escape(window.atob(encodedData))));
</script>

<script>
    var encodedData = 'IDxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0IiBzcmM9Imh0dHBzOi8vY2RuLmZjaGF0LnZuL2Fzc2V0cy9lbWJlZC93ZWJjaGF0LmpzP2lkPTY0NWE0MThmZDhiMzYyMjc0NzQ3NWJmNiIgYXN5bmM9ImFzeW5jIj48L3NjcmlwdD48IS0tRW5kIG9mIEZjaGF0LnZuLS0+';
    document.write(decodeURIComponent(escape(window.atob(encodedData))));
</script>
    <script src="~/Content/TimePicker/js/jquery.min.js"></script>


    <script src="~/Content/TimePicker/js/popper.js"></script>



    <script src="~/Content/TimePicker/js/bootstrap.min.js"></script>


    <script src="~/Content/TimePicker/js/moment-with-locales.min.js"></script>


    <script src="~/Content/TimePicker/js/bootstrap-datetimepicker.min.js"></script>


    <script src="~/Content/TimePicker/js/main.js"></script>


    @*check login*@
    <script>
        function checkLoggedInUser() {
            // Giả định trạng thái đăng nhập của người dùng
            var isLoggedIn = false; // Thay đổi thành mã kiểm tra đăng nhập thực tế

            // Nếu người dùng đã đăng nhập, cho phép sử dụng nút "Hiển thị quãng đường"
            if (isLoggedIn) {
                var showRouteButton = document.getElementById("show-route-btn");

                showRouteButton.disabled = false;
            } else {
                // Nếu người dùng chưa đăng nhập, hiển thị thông báo yêu cầu đăng nhập
                alert("Vui lòng đăng nhập để sử dụng tính năng này.");
            }
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        var tripHub = $.connection.tripHub;
        var msg;
        tripHub.client.receiveMessage = function (message) {
            msg = message;
        };

        $.connection.hub.start()
            .done(function () {
                console.log('Kết nối thành công đến SignalR Hub.');
            })
            .fail(function (error) {
                console.log('Lỗi kết nối đến SignalR Hub: ' + error);
            });
    </script>
</body>


<style>
    .banner_text {
        text-align: left;
    }

    .button {
        margin: auto;
    }
</style>