
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Hutech Driver | Điều khoản sử dụng</title>
<link href="~/Content/css/Style2.css" rel="stylesheet" />

<script src="~/Content/Rules/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
<script async="" src="~/Content/Rules/js/analytics.js"></script>
<script type="text/javascript">
    window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/be.com.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.4" } };
    !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
</script>

<link rel="stylesheet" id="wp-block-library-css" href="~/Content/Rules/css/style.min.css" media="all" />
<link rel="stylesheet" id="wpml-legacy-horizontal-list-0-css" href="~/Content/Rules/css/style.css" media="all" />
<link rel="stylesheet" id="ola-bootstrap-css" href="~/Content/Rules/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" id="ola-aos-css" href="~/Content/Rules/css/aos.min.css" media="all" />
<link rel="stylesheet" id="ola-owl-carousel-css" href="~/Content/Rules/css/owl.carousel.min.css" media="all" />
<link rel="stylesheet" id="ola-owl-carousel-theme-css" href="~/Content/Rules/css/owl.theme.default.min.css" media="all" />
<link rel="stylesheet" id="ola-style-mod-css" href="~/Content/Rules/css/style-ola.min.css" media="all" />
<link rel="stylesheet" id="ola-style-css" href="~/Content/Rules/css/style.min(1).css" media="all" />

<a href="~/Content/Rules/css/bootstrap.min.css.map"></a>
<a href="~/Content/Rules/js/bootstrap.bundle.min.js.map"></a>

<script type="text/javascript" src="~/Content/Rules/js/conditionizr-4.3.0.min.js"></script>
<script type="text/javascript" src="~/Content/Rules/js/modernizr-2.7.1.min.js"></script>
<script type="text/javascript" src="~/Content/Rules/js/jquery.min.js"></script>

<link rel="alternate" type="application/json+oembed" href="#">
<link rel="alternate" type="text/xml+oembed" href="#;format=xml">

<script async="" src="~/Content/Rules/js/demo.js"></script>
<script async="" src="~/Content/Rules/js/ins.js"></script>


<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
</style>
<body>
    <header class="header wF__ header--show">
        <div class="container container d-flex align-items-center">
            <span class="btn-menu"></span>
            <nav class="nav ml-auto mr-auto">
                <br />
                <br />
                <br />
            </nav>

        </div>
    </header>

    <main role="main" id="fullpage">



        <div class="section main-rider">
            <div class="layout-sidebar position-relative">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-sidebar">

                            <div class="nav-control d-flex d-lg-none">
                                <span class="text">
                                    Quy định
                                </span>
                                <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.25 1.875L9.5 9.125L16.75 1.875" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>

                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="">

                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">
                                    Quy định
                                </a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">
                                    Cam kết
                                </a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">
                                    Thanh toán
                                </a>

                                <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">
                                    Thuế
                                </a>

                                <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">
                                    Li-xăng và Quyền
                                </a>

                                <a class="nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false">
                                    Sở hữu trí tuệ
                                </a>

                                <a class="nav-link" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-7" aria-selected="false">
                                    Bảo Mật
                                </a>

                                <a class="nav-link" id="v-pills-8-tab" data-toggle="pill" href="#v-pills-8" role="tab" aria-controls="v-pills-8" aria-selected="false">
                                    Phí
                                </a>

                                <a class="nav-link" id="v-pills-9-tab" data-toggle="pill" href="#v-pills-9" role="tab" aria-controls="v-pills-9" aria-selected="false">
                                    Miễn trừ trách nhiệm
                                </a>

                                <a class="nav-link" id="v-pills-10-tab" data-toggle="pill" href="#v-pills-10" role="tab" aria-controls="v-pills-10" aria-selected="false">
                                    Lỗi Internet
                                </a>

                                <a class="nav-link" id="v-pills-11-tab" data-toggle="pill" href="#v-pills-11" role="tab" aria-controls="v-pills-11" aria-selected="false">
                                    Giới hạn
                                </a>

                                <a class="nav-link" id="v-pills-12-tab" data-toggle="pill" href="#v-pills-12" role="tab" aria-controls="v-pills-12" aria-selected="false">
                                    Thông báo
                                </a>

                                <a class="nav-link" id="v-pills-13-tab" data-toggle="pill" href="#v-pills-13" role="tab" aria-controls="v-pills-13" aria-selected="false">
                                    Chuyển giao
                                </a>

                                <a class="nav-link" id="v-pills-14-tab" data-toggle="pill" href="#v-pills-14" role="tab" aria-controls="v-pills-14" aria-selected="false">
                                    Hiệu lực
                                </a>
                            </div>
                        </div>


                        <div class="col-lg-8 col-content">
                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade active show" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">

                                    <div class="">
                                        <div class="editor p-0">
                                            <p style="text-align: justify; background: white;">
                                                Chào mừng Quý Khách hàng đến với trang thông tin điện tử <strong>Hutech Driver</strong>.<br>
                                                <strong>Hutech Driver</strong> là website cung cấp dịch vụ thương mại điện tử (sau đây gọi tắt là: “Sàn HD Hutech Driver“) trong ngành giao thông vận tải được thiết lập, quản lý và vận hành bởi Công ty Cổ phần Hutech Driver GROUP. Công ty Cổ phần Hutech Driver GROUP (sau đây gọi là “Công ty” hoặc “Hutech Driver Group”) hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0108269207 do Sở Kế hoạch &amp; Đầu tư thành phố Hà Nội cấp lần đầu ngày 11/05/2018, các thay đổi sau đó do Sở Kế hoạch &amp; Đầu tư thành phố Hồ Chí Minh cấp.<br>
                                                Quý Khách hàng vui lòng đọc kỹ Điều khoản và Điều kiện sử dụng website Hutech Driver (“Điều khoản sử dụng”) trước khi sử dụng website Hutech Driver để đặt mua bất kỳ dịch vụ nào thông qua Sàn HD Hutech Driver (sau đây gọi là “Dịch vụ”).<br>
                                                Điều khoản sử dụng này là thỏa thuận pháp lý giữa Quý Khách hàng và Công ty khi Quý Khách hàng đã lựa chọn sử dụng website Hutech Driver và sử dụng Dịch vụ trên Sàn HD Hutech Driver.<br>
                                                Bằng việc sử dụng Dịch vụ trên website <strong>Hutech Driver</strong>, Quý Khách hàng đồng ý rằng mình đã đọc, hiểu rõ, chấp nhận và đồng ý với Điều khoản sử dụng này và với bất kỳ nội dung sửa đổi, bổ sung nào của Điều khoản sử dụng này được công bố bởi Hutech Driver Group tại từng thời điểm trên trang thông tin điện tử Hutech Driver.<br>
                                                Điều khoản sử dụng này và bất kỳ sửa đổi, bổ sung nào của Điều khoản sử dụng này được công bố bởi Be Group tại từng thời điểm tại trang thông tin điện tử <strong>Hutech Driver</strong>.<br>
                                                Hutech Driver Group bảo lưu quyền được điều chỉnh, sửa đổi, bổ sung hoặc hủy bỏ bất kỳ điều khoản nào của Điều khoản sử dụng hoặc các chính sách liên quan đến Dịch vụ tại bất cứ thời điểm nào mà Hutech Driver Group cho là phù hợp.<br>
                                                Những điều chỉnh, sửa đổi, bổ sung hoặc hủy bỏ Điều khoản sử dụng hoặc các chính sách có liên quan đến Dịch vụ sẽ có hiệu lực ngay khi nội dung được đăng tải trên trang thông tin điện tử <strong>Hutech Driver</strong>.<br>
                                                Quý Khách hàng có trách nhiệm kiểm tra thường xuyên Điều khoản sử dụng này khi sử dụng website dịch vụ <strong>Hutech Driver</strong>.<br>
                                                Việc tiếp tục sử dụng website Hutech Driver, sử dụng Dịch vụ trên Sàn HD Hutech Driver sau khi có bất kỳ thay đổi nào về Điều khoản sử dụng, bất kể là Quý Khách hàng có xem xét sự thay đổi của Điều khoản sử dụng hay chưa, sẽ mặc nhiên được coi là quý khách đã chấp thuận và đồng ý đối với những nội dung thay đổi đó.<br>
                                                Hutech Driver Group là chủ quản lý, vận hành website <strong>Hutech Driver</strong> thực hiện hợp tác kinh doanh với Đối tác đủ điều kiện để cung cấp dịch vụ vận tải cho Khách hàng theo quy định của pháp luật hiện hành có liên quan của Việt Nam (sau đây gọi là: “Đối tác” hoặc “Nhà cung cấp”).<br>
                                                Thời điểm giao dịch giữa Nhà cung cấp với Quý Khách hàng được xác lập thông qua ứng dụng Be cũng là thời điểm quyền và nghĩa vụ giữa Quý Khách hàng và Nhà cung cấp và/hoặc Be Group phát sinh hiệu lực theo quy định pháp luật Việt Nam hoặc theo Điều ước quốc tế mà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam là thành viên.<br>
                                                Dịch vụ mà Hutech Driver Group cung cấp là website công nghệ kết nối Quý Khách hàng với các Đối tác của Hutech Driver Group nhằm tạo sự thuận lợi của các bên trong quá trình giao dịch.<br>
                                                Hutech Driver Group cam kết hỗ trợ Quý Khách hàng hoặc thực hiện cung cấp thông tin liên quan cho cơ quan có thẩm quyền để giải quyết những tranh chấp phát sinh trong quá trình Quý Khách hàng sử dụng Dịch vụ của Nhà cung cấp kết nối thông qua website <strong>Hutech Driver</strong>.<br>
                                                Quy định này sẽ giúp Quý Khách hàng hiểu rõ những thông tin cá nhân nào mà Hutech Driver Group sẽ thu thập, cũng như cách Hutech Driver Group sử dụng những thông tin này sau đó.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>
                                                Khi sử dụng Dịch vụ, sử dụng website&nbsp;Hutech Driver, Quý Khách hàng cam kết và bảo đảm bảo rằng:<br>
                                                1. Có năng lực hành vi dân sự đầy đủ theo quy định của pháp luật hiện hành để chấp thuận và đồng ý với Điều khoản sử dụng; có quyền, thẩm quyền và năng lực để sử dụng Dịch vụ và để tuân theo Điều khoản sử dụng này.<br>
                                                2. Những thông tin cung cấp cho Hutech Driver Group luôn đảm bảo cập nhật, đầy đủ và xác thực.<br>
                                                Việc sử dụng Dịch vụ, sử dụng website&nbsp;Hutech Driver là để phục vụ cho nhu cầu hợp pháp, hợp lệ.<br>
                                                Không được ủy quyền cho người khác sử dụng danh tính hoặc tư cách người dùng website&nbsp;Hutech Driver&nbsp;của mình.<br>
                                                3. Không được chuyển giao, chuyển nhượng tài khoản người dùng ứng dụng Hutech Driver của mình cho bất kỳ cá nhân hoặc tổ chức nào khác.<br>
                                                4. Cam kết luôn tuân thủ quy định của pháp luật hiện hành liên quan được áp dụng tại quốc gia của mình và tại Việt Nam nơi sử dụng Dịch vụ.<br>
                                                5. Có trách nhiệm kiểm tra và đảm bảo rằng Quý Khách hàng đã tải đúng ứng dụng Hutech Driver tương thích dành cho thiết bị di động của mình. Hutech Driver Group không chịu trách nhiệm đối với việc Quý Khách hàng không có một thiết bị tương thích với ứng dụng Hutech Driver và/hoặc đã tải một phiên bản ứng dụng Hutech Driver không phù hợp, không tương thích dành cho thiết bị di động của Quý Khách hàng.<br>
                                                6. Công ty bảo lưu quyền không cho phép Quý Khách hàng sử dụng Dịch vụ trong trường hợp Quý Khách hàng sử dụng ứng dụng Hutech Driver trên một thiết bị không tương thích, không được cho phép hoặc sử dụng ứng dụng Hutech Driver có mục đích khác với mục đích mà ứng dụng Hutech Driver có hỗ trợ.
                                            </p>
                                            <p>
                                                Bằng việc sử dụng website&nbsp;Hutech Driver, Quý Khách hàng cam kết, đồng ý rằng:<br />
                                                1. Không sử dụng website Hutech Driver để gửi và lưu trữ bất kỳ tài liệu hoặc thông tin trái phép nào hoặc phục vụ các mục đích lừa đảo; để làm phiền, quấy nhiễu người khác hoặc thực hiện đặt sử dụng dịch vụ giả mạo; vi phạm điều cấm của pháp luật hiện hành của Việt Nam.<br>
                                                2. Không liên hệ với Đối tác trên Sàn H Hutech Driver nhằm mục đích khác ngoài mục đích sử dụng Dịch vụ mà website Hutech Driver có hỗ trợ.<br>
                                                3. Không sử dụng thông tin của Hutech Driver Group, của Nhà cung cấp cho mục đích nào khác ngoài mục đích sử dụng Dịch vụ.<br>
                                                4. Không thực hiện các hành vi (cố ý hay vô ý) có thể gây tổn hại cho website Hutech Driver, tổn hại tới uy tín thương hiệu, tài sản của Hutech Driver Group và/hoặc Nhà cung cấp.<br>
                                                5. Không sao chép, bán lại, tặng cho hoặc phân phối website Hutech Driver và/hoặc phần mềm hỗ trợ liên quan khi không có sự cho phép bằng văn bản của Hutech Driver Group.<br>
                                                6. Hoàn toàn chịu trách nhiệm bảo toàn và bảo mật mật khẩu tài khoản sử dụng website Hutech Driver (Tài khoản Người dùng) của mình hoặc bất kỳ phương thức nhận dạng nào mà Hutech Driver Group cung cấp để Khách hàng sử dụng website Hutech Driver.<br>
                                                7. Cung cấp cho Hutech Driver Group bất kỳ bằng chứng về nhận dạng nào mà Hutech Driver Group có thể yêu cầu vì mục đích cung cấp Tài khoản Người dùng, cung cấp Dịch vụ.<br>
                                                8. Đồng ý cung cấp thông tin xác thực, thường xuyên duy trì, cập nhật kịp thời và đầy đủ thông tin theo yêu cầu của Hutech Driver Group để sử dụng Dịch vụ để đảm bảo rằng các thông tin này luôn xác thực, cập nhật và đầy đủ vào mọi thời điểm. Quý Khách hàng xác nhận rằng nếu các thông tin về Quý Khách hàng là không đúng, không chính xác, thiếu cập nhật hoặc không đầy đủ trên bất kỳ phương diện nào thì Hutech Driver Group có quyền chấm dứt việc sử dụng Dịch vụ của Quý Khách hàng bất kỳ lúc nào cho dù là có hoặc không thông báo.<br>
                                                9. Không thực hiện các hành vi lừa dối Hutech Driver Group và các hành vi có tính chất tương tự nhằm hưởng lợi bất chính trong bất kỳ sự kiện, hoạt động khuyến mại hoặc chiến dịch nào do Hutech Driver Group tiến hành.<br>
                                                10. Khi yêu cầu Dịch vụ thông qua website Hutech Driver hoặc khi sử dụng Dịch vụ, quý khách phải tự chi trả cước viễn thông theo chính sách của nhà cung cấp dịch vụ viễn thông.<br>
                                                11. Không được thực hiện các hành vi nhằm phá hoại sự vận hành bình thường của website Hutech Driver và các hệ thống công nghệ thông tin liên quan của Hutech Driver Group.<br>
                                                12. Việc sử dụng website Hutech Driver, Dịch vụ và/hoặc các tính năng được tích hợp trên website Hutech Driver của Quý Khách hàng sẽ phù hợp và tuân theo Chính sách Bảo mật thông tin của Hutech Driver Group.<br>
                                                13. Cam kết hoàn toàn chịu trách nhiệm pháp lý, chịu trách nhiệm đối với toàn bộ tổn thất hoặc thiệt hại gây ra cho chính bản thân Quý Khách hàng, Đối tác, Hutech Driver Group và bất kỳ bên thứ ba nào khi Quý Khách hàng vi phạm bất kỳ quy định nào của Điều khoản sử dụng này.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <ol>
                                                <li><strong> Định nghĩa</strong></li>
                                            </ol>
                                            <p>Dịch vụ thanh toán trực tuyến tự động: là việc cấp phép, xử lý dữ liệu và thực hiện thanh toán do VCB và NAPAS (đơn vị chấp thuận thanh toán) cung cấp cho Hutech Driver Group để xử lý các giao dịch thanh toán tự động phát sinh khi Khách hàng sử dụng Dịch vụ của Hutech Driver Group.</pstyle="text-align:>
                                            <p>Giao dịch thanh toán trực tuyến tự động/Giao dịch: là giao dịch do Hutech Driver Group thay mặt Khách hàng thực hiện thanh toán hóa đơn hàng hóa, dịch vụ qua kênh thanh toán trực tuyến khi phát sinh đối với các hàng hóa, dịch vụ mà Hutech Driver Group cung cấp cho Khách hàng sử dụng Token trên cơ sở ủy quyền của Khách hàng cho Hutech Driver Group.</p>
                                            <ol start="2">
                                                <li><strong> Phương thức thực hiện thanh toán</strong></li>
                                            </ol>
                                            <p>Khi Khách hàng sử dụng dịch vụ vận tải trên Sàn HD&nbsp;<strong>Hutech Driver</strong> và có sử dụng công cụ thanh toán của NAPAS thì Khách hàng mặc nhiên đồng ý ủy quyền, không hủy ngang cho Hutech Driver Group thay mặt Khách hàng thực hiện giao dịch thanh toán trực tuyến tự động qua cổng thanh toán của VCB và NAPAS.</p>
                                            <p>Nội dung ủy quyền: Khách hàng đồng ý ủy quyền cho Hutech Driver Group được thay mặt Khách hàng thực hiện các nội dung sau:</p>
                                            <p>– Thực hiện giao dịch thanh toán trực tuyến tự động đối với các dịch vụ vận tải mà Hutech Driver Group cung cấp cho Khách hàng.</p>
                                            <p>– Điều kiện thanh toán: thanh toán khi phát sinh Dịch vụ.</p>
                                            <p>– Thời gian thanh toán tự động: cố định, hoặc không cố định.</p>
                                            <p>– Giá trị thanh toán: cố định hoặc không cố định.</p>
                                            <p>– Phương tiện thanh toán: Token.</p>
                                            <p>– Hàng hóa dịch vụ được thanh toán tự động: dịch vụ vận tải.</p>
                                            <p>Khi chấp thuận ủy quyền cho Hutech Driver Group thì Khách hàng mặc nhiên đồng ý cho VCB và NAPAS có quyền lưu trữ các thông tin Khách hàng (bao gồm nhưng không giới hạn các thông tin về phương tiện thanh toán, giao dịch, …) để phục vụ cho việc triển khai dịch vụ.</p>
                                            <p>Nếu Khách hàng không đồng ý ủy quyền cho Hutech Driver Group theo quy định tại mục này thì quý Khách hàng có thể sử dụng phương thức thanh toán khác.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">

                                    <div class="">
                                        <div class="editor p-0">
                                            <p style="text-align: justify; background: white;">Là người sử dụng Dịch vụ thông qua website&nbsp;<strong>Hutech Driver</strong>, Quý Khách hàng đồng ý rằng, nghĩa vụ thuế của Hutech Driver Group, của Đối tác cung ứng dịch vụ vận tải là độc lập. Mỗi bên có nghĩa vụ kê khai và thực hiện nghĩa vụ thuế của mình đối với nhà nước theo pháp luật thuế nước Cộng hòa Xã hội Chủ nghĩa Việt Nam.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-laHutech Driverlledby="v-pills-5-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Hutech Driver Group và các bên cấp li-xăng cho Hutech Driver Group (nếu có), khi được áp dụng, sẽ cấp cho Khách hàng li-xăng có thể hủy ngang, không độc quyền, không thể chuyển nhượng, mang tính cá nhân có giới hạn trong việc sử dụng ưng dụng&nbsp;<strong>Hutech Driver</strong>&nbsp;vì mục đích sử dụng Dịch vụ trên cơ sở Điều khoản sử dụng này.</p>
                                            <p>Tất cả các quyền không cấp cho Khách hàng một cách cụ thể sẽ được bảo lưu bởi Hutech Driver Group và các bên cấp li-xăng cho Hutech Driver Group.</p>
                                            <p>Khách hàng không được:</p>
                                            <p>– Cấp li-xăng, cấp lại li-xăng, bán, bán lại, chuyển giao, chuyển nhượng, phân phối hoặc khai thác thương mại hoặc cung cấp cho bất kỳ bên thứ ba nào đối với website <strong>Hutech Driver&nbsp;</strong>dưới bất kỳ hình thức nào.</p>
                                            <p>– Sửa đổi hoặc tạo ra sản phẩm phái sinh từ website <strong>Hutech Driver</strong> và/hoặc phần mềm liên quan.</p>
                                            <p>– Tạo ra các “đường dẫn” Internet liên kết đến website <strong>Hutech Driver</strong> hoặc “làm nền tảng cho” hay “nhân bản” bất kỳ phần mềm nào trên bất kỳ máy chủ hay thiết bị hoạt động trên môi trường mạng Internet nào khác.</p>
                                            <p>– Đảo ngược thiết kế hoặc truy cập vào website <strong>Hutech Driver</strong> để:</p>
                                            <p style=" padding-left: 40px;">+ Xây dựng một sản phẩm hoặc Dịch vụ cạnh tranh với Hutech Driver Group.</p>
                                            <p style=" padding-left: 40px;">+ Xây dựng một sản phẩm sử dụng những ý tưởng, tính năng, chức năng hoặc đồ họa tương tự như của website <strong>Hutech Driver</strong>; hoặc</p>
                                            <p style=" padding-left: 40px;">+ Sao chép bất kỳ ý tưởng, tính năng, chức năng hoặc đồ họa nào của website <strong>Hutech Driver</strong>.</p>
                                            <ul>
                                                <li>– Khởi động một chương trình hoặc tập lệnh tự động, bao gồm nhưng không giới hạn, nhện web, trình thu thập web, robot web, kiến web, trình tạo chỉ mục web, chương trình tự động, virus, hoặc bất kỳ chương trình nào có thể đưa ra nhiều yêu cầu đối với máy chủ của Hutech Driver Group làm chậm hoặc cản trở hoạt động và/hoặc hiệu suất của website <strong>Hutech Driver</strong>.</li>
                                                <li>– Đăng tải, phân phối hoặc sao chép bằng bất kỳ phương cách nào đối với bất kỳ tài liệu có bản quyền nào, tên thương mại, hay các thông tin sở hữu khác của Hutech Driver Group mà không có sự chấp thuận của Hutech Driver Group.</li>
                                                <li>– Gỡ bỏ bất kỳ thông báo về bản quyền, tên thương mại, hay các quyền sở hữu khác trên trang thông tin điện tử, trên website <strong>Hutech Driver</strong>.</li>
                                            </ul>
                                            <p>Khách hàng có thể sử dụng website&nbsp;<strong>Hutech Driver&nbsp;</strong>vì mục đích sử dụng Dịch vụ của Hutech Driver Group và không được dùng website&nbsp;<strong>Hutech Driver&nbsp;</strong>để:</pstyle="text-align:>
                                            <p>– Gửi thư rác hoặc tin nhắn đồng loạt hoặc tin nhắn tự động.</p>
                                            <p>– Gửi hoặc lưu trữ tài liệu xâm phạm uy tín, danh dự của cá nhân, tổ chức khác.</p>
                                            <p>– Gửi hoặc lưu trữ tài liệu khiêu dâm, đe dọa, bôi nhọ, bao gồm, nhưng không giới hạn, các tài liệu có hại cho trẻ em hoặc vi phạm quyền riêng tư của bên thứ ba.</p>
                                            <p>– Gửi tài liệu có chứa virus phần mềm, Trojan hoặc đoạn mã, các tập tin, tập lệnh, gián điệp hoặc chương trình máy tính độc hại.</p>
                                            <p>– Gây cản trở hoặc phá vỡ tính toàn vẹn hoặc hiệu suất của website <strong>Hutech Driver&nbsp;</strong>hoặc dữ liệu chứa trong đó; hoặc cố gắng truy cập trái phép vào website <strong>Hutech Driver </strong>và/hoặc Phần mềm; hoặc</p>
                                            <p>– Giả danh bất kỳ cá nhân hoặc tổ chức nào hoặc mô tả sai mối quan hệ của Khách hàng với một cá nhân hoặc tổ chức để trốn tránh nghĩa vụ hoặc thực hiện các hành vi có thể làm tổn hại quyền và lợi ích hợp pháp của Hutech Driver Group và hoặc bên thứ ba.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-6-tab">

                                    <div class="">
                                        <div class="editor p-0">
                                            <p style="text-align: justify; background: white;">
                                                Chỉ có Hutech Driver Group và các bên cấp li-xăng cho Hutech Driver Group (nếu có) có quyền sở hữu trí tuệ, quyền liên quan đối với website Hutech Driver và/hoặc phần mềm hỗ trợ khác của website Hutech Driver.<br>
                                                Nội dung của Điều khoản sử dụng này không tạo nên một thỏa thuận mua bán, chuyển nhượng/chuyển giao cho Khách hàng bất kỳ quyền sở hữu nào đối với hoặc liên quan đến website Hutech Driver và/hoặc phần mềm hỗ trợ khác hoặc bất kỳ quyền sở hữu tài sản trí tuệ nào thuộc sở hữu của Hutech Driver Group.<br>
                                                Nội dung của Điều khoản sử dụng này không tạo nên một thỏa thuận mua bán, chuyển nhượng/chuyển giao cho Khách hàng bất kỳ quyền sở hữu nào đối với thương hiệu của Công ty, logo của Công ty, logo của Dịch vụ, logo website Hutech Driver và logo của Nhà cung cấp.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-7-tab">

                                    <div class="">
                                        <div class="editor p-0">
                                            <p style="text-align: justify; background: white;">
                                                Là người sử dụng website&nbsp;<strong>Hutech Driver</strong>, Khách hàng phải bảo mật tất cả các thông tin và dữ liệu liên quan đến Công ty, các dịch vụ, sản phẩm, công việc kinh doanh, kế hoạch tiếp thị và quảng bá hoặc các hoạt động khác của Công ty và các công ty liên kết của Công ty, cũng như các thông tin liên quan đến Đối tác cung cấp Dịch vụ thứ ba hoặc dịch vụ của bên thứ ba mà đã được tiết lộ với Khách hàng bởi Công ty hoặc đại diện của Công ty (bất kể bằng lời nói hay bằng văn bản, trước, tại hoặc sau ngày của Điều khoản sử dụng này) hoặc đã được Khách hàng thu thập gián tiếp hay trực tiếp, từ Công ty hoặc bất kỳ các công ty liên kết nào khác, hoặc đã được tạo ra trong quá trình giao kết Điều khoản sử dụng này.<br />
                                                <br /> Nghĩa vụ bảo mật nêu trên không áp dụng trong trường hợp sau:
                                            </p>

                                            <ul style="text-align: justify; background: white;">
                                                <li>
                                                    Đã thuộc sở hữu của Khách hàng vào thời điểm tiếp nhận thông tin. <br />
                                                    Là, hoặc trở thành trong tương lai, thông tin phổ cập mà không phải do lỗi hoặc sai sót của chính Khách hàng.
                                                </li>
                                            </ul>
                                            <p style="text-align: justify; background: white;">Đã được tiếp nhận từ một bên thứ ba có quyền tiết lộ chúng; hoặc phải tiết lộ theo quy định pháp luật.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-8" role="tabpanel" aria-labelledby="v-pills-8-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Khách hàng sẽ chịu trách nhiệm đối với các chi phí sửa chữa hoặc chi phí vệ sinh làm sạch cho Phương tiện vận tải của Công ty, của Nhà cung cấp (Đơn vị vận tải, Lái xe) khi Khách hàng sử dụng Dịch vụ một cách không phù hợp hoặc vi phạm các quy định trong Điều khoản sử dụng này.</pstyle="text-align:>
                                            <p>Công ty bảo lưu quyền thu các chi phí hợp lý của việc sửa chữa hoặc chi phí vệ sinh làm sạch Phương tiện này; có thể thay mặt cho Nhà cung cấp thông qua các phương thức thanh toán mà Khách hàng chỉ định hoặc yêu cầu Khách hàng phải thanh toán tiền mặt trong trường hợp yêu cầu sửa chữa hoặc vệ sinh Phương tiện của Nhà cung cấp đã được xác thực bởi Công ty.</p>
                                            <p>Công ty được quyền thu phí sử dụng website&nbsp;<strong>Hutech Driver&nbsp;</strong>từ Khách hàng là người sử dụng website <strong>Hutech Driver</strong> và/hoặc phần mềm hỗ trợ khác để đặt dịch vụ vận tải. Chính sách về phí sử dụng dịch vụ (nếu có áp dụng) có thể được miễn, giảm hoặc thay đổi tùy từng giai đoạn, có thể được công khai tại trang thông tin điện tử của Công ty và/hoặc thông qua website&nbsp;<strong>Hutech Driver</strong>.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-9" role="tabpanel" aria-labelledby="v-pills-9-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Công ty không đưa ra bất kỳ cam đoan, bảo đảm hoặc phát sinh bất kỳ một trách nhiệm nào đối với độ tin cậy, sự đúng hạn, kịp thời, chất lượng, sự phù hợp, tính sẵn có, tính chính xác hoặc hoàn thiện của Dịch vụ cung cấp trên Sàn HD&nbsp;<strong>Hutech Driver</strong>, và/hoặc về chế độ ưu đãi/quà tặng.</p>
                                            <p>Công ty không bảo đảm chắc chắn rằng:</p>
                                            <ul>
                                                <li>website&nbsp;<strong>Hutech Driver</strong>, phần mềm hỗ trợ liên quan sẽ hoàn toàn không có lỗi hoặc khiếm khuyết.</li>
                                                <li>Chất lượng của bất kỳ sản phẩm, dịch vụ, thông tin, quà tặng, ưu đãi mà Khách hàng mua hoặc có được thông qua website&nbsp;<strong>Hutech Driver&nbsp;</strong>sẽ đáp ứng hoàn toàn các yêu cầu hoặc mong đợi của Khách hàng.</li>
                                                <li>Dịch vụ, website&nbsp;<strong>Hutech Driver&nbsp;</strong>sẽ hoàn toàn đạt yêu cầu hoặc mong đợi của Khách hàng.</li>
                                                <li>website <strong>Hutech Driver</strong> và/hoặc (các) máy chủ mà website <strong>Hutech Driver</strong> hoạt động sẽ không có virus hoặc các thành phần có hại khác.</li>
                                                <li>Việc sử dụng Dịch vụ trên Sàn HD&nbsp;<strong>Hutech Driver</strong>, website&nbsp;<strong>Hutech Driver&nbsp;</strong>và/hoặc phần mềm hỗ trợ khác sẽ được an toàn, kịp thời, không bị gián đoạn hoặc không có lỗi hoặc có thể vận hành kết hợp với bất kỳ phần cứng, phần mềm, hệ thống hoặc dữ liệu nào khác.</li>
                                            </ul>
                                            <p>Công ty sẽ được miễn trừ trách nhiệm trong các trường hợp sau: Các tổn thất có thể gây ra cho Khách hàng do không thể truy cập, sử dụng website&nbsp;<strong>Hutech Driver&nbsp;</strong>vì các lý do: Không thể truy cập, sử dụng website vì lý do lỗi kết nối mạng Internet. Lỗi phần cứng hoặc phần mềm ngoài tầm kiểm soát của Công ty. Các tổn thất do lỗi mạng Internet, lỗi máy móc, hay lỗi khi bảo trì hệ thống.</p>
                                            <p>Khách hàng thừa nhận và đồng ý rằng toàn bộ rủi ro phát sinh từ việc sử dụng dịch vụ, ưu đãi và bất kỳ dịch vụ của bên thứ ba nào, bao gồm, nhưng không giới hạn, các dịch vụ vận tải và/hoặc ưu đãi của bên thứ ba là hoàn toàn thuộc về chính Khách hàng và Khách hàng sẽ không kiện đòi Công ty dưới bất kỳ hình thức nào.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-10" role="tabpanel" aria-labelledby="v-pills-10-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0" style="text-align: justify; background: white;">
                                            <p>Dịch vụ được cung cấp trên Sàn HD&nbsp;<strong>Hutech Driver</strong>, website&nbsp;<strong>Hutech Driver</strong>&nbsp;có thể có những hạn chế, chậm trễ, và các vấn đề khác xuất phát từ việc sử dụng internet và thông tin liên lạc theo phương thức điện tử bao gồm việc thiết bị bạn sử dụng hoặc nhà cung cấp dịch vụ bên thứ ba sử dụng bị lỗi, không có kết nối, nằm ngoài miền phủ sóng, bị tắt nguồn hoặc không hoạt động. Công ty sẽ được miễn trừ hoàn toàn trách nhiệm đối với các thiệt hại hay tổn thất phát sinh từ những vấn đề này.</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-11" role="tabpanel" aria-labelledby="v-pills-11-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Bất kỳ yêu cầu bồi thường nào của Khách hàng đối với Công ty trong bất kỳ trường hợp nào sẽ chỉ giới hạn đối với tổng của tất cả các khoản đã được Khách hàng chi trả và/hoặc Khách hàng sẽ trả cho việc sử dụng Dịch vụ giới hạn trong sự kiện dẫn tới các yêu cầu bồi thường đó.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-12" role="tabpanel" aria-labelledby="v-pills-12-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Công ty có thể gửi thông báo dưới dạng một thông báo chung trên trang thông tin điện tử, trên website <strong>Hutech Bike</strong>, qua thư điện tử đến địa chỉ thư điện tử của Khách hàng có trong hồ sơ của Công ty, hoặc bằng văn bản gửi bằng thư đảm bảo hoặc thư trả trước đến địa chỉ của Khách hàng lưu trong dữ liệu của Công ty.</p>
                                            <p>Thông báo của Công ty sẽ được coi là đã gửi tới Khách hàng sau 48 giờ kể từ lúc gửi bưu điện (nếu được gửi bằng thư bảo đảm hoặc thư trả trước) hoặc sau 01 giờ sau khi đã gửi (nếu gửi bằng thư điện tử).</p>
                                            <p>Khách có thể gửi thông báo cho Công ty bằng thư gửi qua đường bưu điện hoặc thư bảo đảm tới địa chỉ Công ty theo thông tin liên hệ như được cung cấp trên website hoặc website&nbsp;<strong>Hutech Bike</strong>. Thời điểm thông báo này có hiệu lực là kể từ thời điểm Công ty nhận được thông báo.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-13" role="tabpanel" aria-labelledby="v-pills-13-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Khách hàng không được chuyển giao quyền, nghĩa vụ của mình phát sinh theo Điều khoản sử dụng này nếu không có sự chấp thuận trước bằng văn bản của Công ty. Bất kỳ hành động cố ý chuyển giao quyền, nghĩa vụ của mình phát sinh theo Điều khoản sử dụng này của Khách hàng vi phạm mục này sẽ bị coi là vô hiệu.</p>
                                            <p>Công ty có thể chuyển giao quyền, nghĩa vụ của mình phát sinh theo Điều khoản sử dụng này mà không cần sự chấp thuận của Khách hàng.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-14" role="tabpanel" aria-labelledby="v-pills-14-tab">

                                    <div class="" style="text-align: justify; background: white;">
                                        <div class="editor p-0">
                                            <p>Bản Điều khoản sử dụng này được diễn giải và chịu điều chỉnh bởi pháp luật Việt Nam.</p>
                                            <p>Bất kỳ tranh chấp, hành động, khiếu nại hay lý do khởi kiện xuất phát từ hay liên quan đến Điều khoản sử dụng hoặc Dịch vụ sẽ hoàn toàn thuộc quyền xét xử của tòa án có thẩm quyền của Việt Nam.</p>
                                            <p>Trong trường hợp phán quyết của Tòa án có thẩm quyền của Việt Nam không thể được thi hành tại Quốc gia Thay thế, các tranh chấp chưa được giải quyết sẽ được chuyển tới Trung tâm Trọng tài Quốc tế Việt Nam (“VIAC”), phù hợp với các Nguyên tắc Tố tụng Trọng tài của VIAC được sửa đổi, bổ sung tại từng thời điểm (“Các Nguyên tắc Tố tụng Trọng tài”) bởi một trọng tài do Các Bên cùng thống nhất chỉ định (“Trọng tài”). Nếu Các Bên không thể thống nhất về một trọng tài, Chủ tịch của VIAC sẽ chỉ định Trọng tài theo đúng Các Nguyên tắc Tố tụng Trọng tài. Địa điểm tố tụng trọng tài là Việt Nam, ngôn ngữ trọng tài bằng tiếng Việt và phí Trọng tài sẽ được chia đều cho Các Bên, trừ khi Trọng tài yêu cầu phí này được chi trả theo cách khác mà Trọng tài xác định là cần thiết để điều khoản trọng tài này có thể được thi hành theo pháp luật áp dụng.</p>
                                            <p>Không có bất kỳ quan hệ liên doanh, hợp tác, thỏa thuận lao động, hay quan hệ đại lý nào tồn tại giữa Khách hàng với Công ty hay bất kỳ bên cung cấp thứ ba nào được xác lập từ Điều khoản sử dụng này hay từ việc sử dụng Dịch vụ trừ trường hợp các bên có thỏa thuận khác bằng văn bản.</p>
                                            <p>Nếu bất kỳ nội dung nào của Điều khoản sử dụng này bị coi là không hợp lệ hoặc không thể thi hành, thì điều khoản đó sẽ bị xóa bỏ và các điều khoản còn lại sẽ được thi hành đến mức tối đa theo luật pháp; những nội dung chưa được quy định tại Điều khoản sử dụng này thì áp dụng theo quy định pháp luật hiện hành của Nước Cộng hòa Xã hội Chủ nghĩa Việt Nam.</p>
                                            <p>Khách hàng chấp thuận rằng Công ty có quyền (nhưng không có nghĩa vụ) chấm dứt cung cấp Dịch vụ ngay lập tức trong trường hợp Khách hàng bị phát hiện đã vi phạm bất kỳ nội dung nào của Điều khoản sử dụng này. Công ty sẽ không phải bồi thường, bồi hoàn hoặc chi trả bất kỳ phí tổn nào mà Khách hàng phải chịu do việc chấm dứt cung cấp Dịch vụ này.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*<footer class="section footer fp-auto-height" id="footer-homepage">
                <div class="container">

                    <div class="top-footer">
                        <div class="col-footer" style="display: none;"></div>





                        <div class="bottom-footer row mt-10">
                            <div class="col-md-4 text-left pb-10">
                                <a href="#">
                                    <h5 class="font-weight-bold">Chính sách bảo mật</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>*@
    </main>




    <a class="button btn-more-than" href="javascript:;" title="Đầu trang"></a>
    <script type="text/javascript" src="~/Content/Rules/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/Rules/js/aos.js"></script>
    <script type="text/javascript" src="~/Content/Rules/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Rules/js/start.min.js"></script>
    <script type="text/javascript" src="~/Content/Rules/js/wp-embed.min.js"></script>




    <script type="text/javascript">
        $(document).ready(function () {
            // $('#fullpage').fullpage({
            // 	autoScrolling: false,
            // 	verticalCentered: false,
            // });
            const navPillActive = $('.col-sidebar .nav-link.active');
            if (navPillActive.length) {
                $('.col-sidebar .nav-control .text').html(navPillActive.text());
            }

            $('.col-sidebar .nav-control').on('click', function () {
                const self = $(this);
                const navContent = self.closest('.col-sidebar').find('.nav-pills');

                navContent.stop().slideToggle();
            });

            $('.col-sidebar .nav-link').on('click', function (e) {
                const self = $(this);
                const text = self.text();
                const navContent = self.closest('.col-sidebar').find('.nav-pills');
                const navControl = self.closest('.col-sidebar').find('.nav-control');
                const w = $(window).width();

                navControl.find('.text').html(text);
                if (w < 992) {
                    navContent.stop().slideUp();
                };
                window.location.href = location.protocol + '//' + location.host + location.pathname + self.attr('href');
            });

            $(window).on('resize', function () {
                const w = $(window).width();
                if (w > 992) {
                    $('.col-sidebar').find('.nav-pills').attr('style', '');
                }
            });

            $('.faqs__list .item__title').on('click', function () {
                const self = $(this);
                const item = self.closest('.item');
                const content = item.find('.item__content');

                item.toggleClass('active');
                content.stop().slideToggle();
            });

            if ($('.owl-carousel').length) {
                $('.owl-carousel').owlCarousel({
                    margin: 0,
                    loop: false,
                    autoWidth: true,
                    items: 4,
                    dots: false,
                    nav: true,
                    navText: [
                        '<svg class="icon" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.875 16L9.125 8.75L1.875 1.5" stroke="currentColor" stroke-width="3" stroke-linecap="round"stroke-linejoin="round" /></svg>',
                        '<svg class="icon" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.875 16L9.125 8.75L1.875 1.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>'
                    ]
                });

                $('.owl-carousel .nav-link').on('click', function (e) {
                    e.preventDefault();
                    const self = $(this);
                    const href = self.attr('href');
                    const target = $(href);

                    if (!self.hasClass('tab-active')) {
                        self.closest('.nav-tabs').find('.tab-active').removeClass('tab-active');
                        self.addClass('tab-active');
                        if (href && target.length) {
                            const tabContent = target.closest('.tab-content');
                            tabContent.find('.active').removeClass('active');
                            target.tab('show');
                        }
                    }
                });

                $('.owl-carousel').on('changed.owl.carousel', function (event) {

                    $('.owl-carousel').find('.owl-item').eq(event.item.index).find('.nav-item').trigger('click');
                });
            }
            const windowHref = window.location.href;
            const v_pill_index = windowHref.search('v-pills');
            if (v_pill_index > -1) {
                $(`#${windowHref.substring(v_pill_index, windowHref.length)}-tab`).trigger('click');
            }
        });
    </script>

    <svg style="width:0;height:0;position:absolute" visibility="hidden" xmlns="http://www.w3.org/2000/svg">
        <symbol id="bg_main_breadcrumb" viewBox="0 0 383 451" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M380.148 287.112C369.141 234.037 326.913 192.235 273.26 181.316C275.654 188.958 276.939 197.081 276.939 205.499C276.939 250.578 239.986 287.112 194.41 287.112H194.42H22.4911L0 450.632H245.406C321.395 450.632 383 389.719 383 314.581C382.99 305.173 381.988 295.99 380.148 287.112Z" fill="currentColor"></path>
            <path d="M293.494 69.6833C292.404 64.3759 290.856 59.2352 288.881 54.3104L288.803 54.1142C278.059 27.5869 255.003 7.24989 226.624 0H226.614C226.819 2.04057 226.926 4.10075 226.926 6.19037C226.926 41.2528 198.177 69.6833 162.713 69.6833H52.3987L37.4209 178.53H203.617C225.612 178.53 245.796 170.868 261.601 158.095C282.195 141.466 295.353 116.165 295.353 87.8228C295.353 81.6128 294.701 75.5402 293.494 69.6833Z" fill="currentColor"></path>
        </symbol>
        <symbol id="icon_chevron_right" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.875 16L9.125 8.75L1.875 1.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
        </symbol>
        <symbol id="icon_chevron_down" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.25 10.875L14.5 18.125L21.75 10.875" stroke="#00003B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
        </symbol>
        <symbol id="bg_rider_reward" viewBox="0 0 735 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M911.078 688.102C884.698 560.902 783.493 460.718 654.905 434.549C660.643 452.865 663.722 472.333 663.722 492.506C663.722 600.543 575.159 688.102 465.93 688.102H465.953H53.9029L0 1080H588.15C770.268 1080 917.912 934.014 917.912 753.936C917.889 731.388 915.486 709.38 911.078 688.102Z" fill="#FFF9E6"></path>
            <path d="M703.396 167.006C700.784 154.286 697.076 141.965 692.341 130.162L692.154 129.692C666.404 66.1157 611.148 17.3754 543.134 0H543.111C543.6 4.89049 543.857 9.82801 543.857 14.8361C543.857 98.8679 474.956 167.006 389.962 167.006H125.579L89.6826 427.871H487.995C540.708 427.871 589.083 409.508 626.962 378.896C676.317 339.043 707.852 278.405 707.852 210.479C707.852 195.596 706.289 181.042 703.396 167.006Z" fill="#FFF9E6"></path>
        </symbol>
    </svg><iframe id="insider-worker" src="" style="display: none;"></iframe>
    <style id="ins-free-style" innerhtml=""></style><div class="ins-ghost textads banner-ads banner_ads ad-unit ad-zone ad-space adsbox" style="width: 1px !important; height: 1px !important; position: absolute !important; left: -10000px !important; top: -1000px !important;"></div>
</body>







